<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 p-10 text-white">
        <div class="nav mb-6  ">
            
        <a class="text-blue-500 " href="/read">See Users</a>
        </div>
        <h1 class="text-3xl trackng-tighter mb-3">Create User</h1>
        <form action="/create" method="post">
            <input name="name" placeholder="Name" class="bg-transparent px-5 py-2 outline-none border-2 rounded-lg" >
            <input name="email" placeholder="Email" class="bg-transparent px-5 py-2 outline-none border-2 rounded-lg" >
            <input name="image" placeholder="Image url" class="bg-transparent px-5 py-2 outline-none border-2 rounded-lg" >
            <input type="submit" value="Create" class="px-5 py-2 bg-blue-500 rounded-lg ml-3">
        </form>
    </div>
</body>
</html>